.footer{

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text{
        font-size: 12px;
        line-height: 1.7;
    }

    &__input{
        padding: 10px 80px 10px 10px;
        background-color: #D7D7D7;
        border-radius: 20px;
        font-size: 12px;
    }

    &__btn{
        padding: 10px;
        background-color: black;
        font-size: 12px;
        border-radius: 20px;
        color: white;
    }

    &__form{
        display: flex;
        gap: 36px;
    }

    &__description{
         font-size: 6px;
         margin-top: 18px;
    }
}