@use '../base/var' as *;
.maxnum{
  padding: 36px 0 0;

  &__box{
    display: flex;
    flex-direction: column;
    align-items: center;

  }


    &__title{
       font-size: 16px;
        font-weight: 400;
        margin-bottom: 36px;
    }

    &__list{
        display: flex;
        gap: 38px;
        margin-bottom: 36px;
    }

    &__input {
    background-color: $input-bg-color;
    border-radius: 20px;
    font-size: 12px;
    padding: 10px 20px;
    text-align: center;    
    &::placeholder {
      color: black;
    }
  }
  &__text{
    font-size: 12px;
  }
}