ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

address {
  font-style: normal;
}

input,
textarea {
  display: block;
}

input,
textarea:focus-visible {
  outline: none;
  border: none;
  box-shadow: none;
}

body {
  background-color: #FFF;
  font-family: Montserrat Alternates;
}

.container {
  max-width: 1050px;
  padding: 0 20px;
  outline: 1px solid red;
  margin-left: auto;
  margin-right: auto;
}

.srp3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 36px;
  border-top: 1px solid black;
}
.srp3__box {
  display: flex;
  justify-content: right;
  gap: 108px;
  margin-top: 36px;
  margin-bottom: 36px;
  align-items: center;
}
.srp3__btn {
  background-color: black;
  padding: 10px;
  width: 60px;
  height: 60px;
  border-radius: 20px;
}
.srp3__list {
  display: flex;
  gap: 38px;
}
.srp3__title {
  font-size: 16px;
  font-weight: 400;
}
.srp3__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
}
.srp3__message {
  margin-bottom: 36px;
}
.srp3__comp {
  color: white;
  background-color: black;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 12px;
}

.calc {
  padding-top: 36px;
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid black;
}
.calc__box {
  display: flex;
  gap: 36px;
  align-items: center;
}
.calc__title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 36px;
}
.calc__listop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 62px;
  gap: 10px;
}
.calc__btn {
  padding: 5px 10px;
  color: white;
  background-color: black;
  font-size: 12px;
  border-radius: 20px;
}
.calc__input {
  background-color: lightgrey;
  border-radius: 20px;
  font-size: 12px;
  padding: 10px 20px;
  text-align: center;
}
.calc__input::-moz-placeholder {
  color: black;
}
.calc__input::placeholder {
  color: black;
}
.calc__text {
  background-color: lightgrey;
  border-radius: 20px;
  font-size: 12px;
  padding: 10px 20px;
}

.maxnum {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 36px;
  border-top: 1px solid black;
}
.maxnum__title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 36px;
}
.maxnum__list {
  display: flex;
  gap: 38px;
  margin-bottom: 36px;
}
.maxnum__input {
  background-color: lightgrey;
  border-radius: 20px;
  font-size: 12px;
  padding: 10px 20px;
  text-align: center;
}
.maxnum__input::-moz-placeholder {
  color: black;
}
.maxnum__input::placeholder {
  color: black;
}
.maxnum__text {
  margin-bottom: 36px;
  font-size: 12px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__text {
  font-size: 12px;
  line-height: 1.7;
}
.footer__input {
  padding: 10px 80px 10px 10px;
  background-color: #D7D7D7;
  border-radius: 20px;
  font-size: 12px;
}
.footer__btn {
  padding: 10px;
  background-color: black;
  font-size: 12px;
  border-radius: 20px;
  color: white;
}
.footer__form {
  display: flex;
  gap: 36px;
}
.footer__description {
  font-size: 6px;
  margin-top: 18px;
}/*# sourceMappingURL=main.css.map */