ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

address {
  font-style: normal;
}

input,
textarea {
  display: block;
}

input,
textarea:focus-visible {
  outline: none;
  border: none;
  box-shadow: none;
}

body {
  background-color: #FFF;
  font-family: Montserrat Alternates;
}

.container {
  max-width: 1050px;
  padding: 0 20px;
  outline: 1px solid red;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: #FFF;
}
.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
}
.header__infbox {
  display: flex;
}
.header__logo {
  margin-right: 81px;
  display: flex;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__list {
  display: flex;
  gap: 50px;
}
.header__link {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.header__namebox {
  display: flex;
  gap: 50px;
}
.header__chekbox {
  background-color: #7a7a7a;
  width: 40px;
  height: 20px;
  border-radius: 11px;
  position: relative;
}
.header__chek {
  width: 20.5px;
  height: 20px;
  background-color: #FFF;
  border-radius: 11px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.header__pic {
  width: 15px;
  height: 15px;
  transform: scale(0.3);
}
.header__text {
  color: #000;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__user {
  color: #000;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.age {
  height: 163px;
}
.age__titleone {
  font-weight: 400;
  font-size: 24px;
  color: #000;
  text-align: center;
}
.age__title {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.age__box {
  display: flex;
  gap: 169px;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}
.age__form {
  position: relative;
}
.age__input {
  color: #D7D7D7;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px 55px 10px 10px;
  border-radius: 20px;
  background: #D7D7D7;
  box-shadow: 5px 4px #adadad;
}
.age__button {
  top: 1px;
  right: 0px;
  position: absolute;
  width: 38px;
  height: 39px;
  padding: 10px;
  border-radius: 0 20px 20px 0;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.age__text {
  color: #5d5d5d;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.age__line {
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  width: 536px;
  height: 1px;
  stroke-width: 1px;
  background-color: #000;
  display: flex;
  justify-content: center;
}

.number2__title {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 36px;
}
.number2__input {
  width: 180px;
  height: 35px;
  padding: 10px 45px 10px 10px;
  gap: 10px;
  border-radius: 20px;
  background-color: #D7D7D7;
  box-shadow: 3px 4px 0px 0px rgba(0, 0, 0, 0.23);
}

.ball7 {
  display: flex;
  justify-content: center;
  padding: 36px 0;
}
.ball7__title {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin: 36px 0;
}
.ball7__field {
  width: 720px;
  height: 220px;
  border: 2px solid #000;
  border-radius: 37px;
  background-color: #5ABB58;
  margin-bottom: 36px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.ball7__ball {
  position: absolute;
  left: 92px;
  top: 85px;
  width: 50px;
  height: 50px;
  transition: all 750ms;
}

.footer {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=main.css.map */