<section class="age">
  <div class="container">
    <h1 class="age__titleone">Популярні інетрактивні ігри</h1>
    <hr class="age__line" />
    <h2 class="age__title">Перевір в який рік ти народився</h2>
    <div class="age__box">
      <form class="age__form">
        <input
          type="text"
          id="ageInput"
          placeholder="Введіть рік народження"
          required
          class="age__input"
        />
        <button type="submit" id="ageBtn" class="age__button">
          <svg class="age__icon">
            <use href="./img/symbol-defs.svg#icon-lent"></use>
          </svg>
        </button>
      </form>
      <p class="age__text">Ваш рік високосний чи ні?</p>
    </div>
    <hr class="age__line" />
  </div>
</section>
