<section class="calc">
    <h2 class="calc__title">Калькулятор</h2>
    <div class="calc__box">
    <input id="firstnumber" class="calc__input" type="number" placeholder="Введіть число">
    <ul class="calc__listop">
        <li id="btnadd" class="calc__itemop"><button class="calc__btn">+</button></li>
        <li id="btnmultiply" class="calc__itemop"><button class="calc__btn">*</button></li>
        <li id="btnsubstract" class="calc__itemop"><button class="calc__btn">-</button></li>
        <li id="btndivide" class="calc__itemop"><button class="calc__btn">/</button></li>
    </ul>
    <input id="secondnumber" class="calc__input" type="number" placeholder="Введіть число">
    <button class="calc__btn">=</button>
    <p id="result" class="calc__text">Результат</p>
    </div>

</section>