<section class="calc">
  <div class="container calc__contbox">
    <hr class="calc__line" />
    <h2 class="calc__title">Калькулятор</h2>
    <div class="calc__box">
      <input id="firstnumber" class="calc__input" type="number" placeholder="Введіть число" />
      <ul class="calc__listop">
        <li class="calc__itemop">
          <button id="btnadd" class="calc__btn">+</button>
        </li>
        <li class="calc__itemop">
          <button id="btnmultiply" class="calc__btn">*</button>
        </li>
        <li class="calc__itemop">
          <button id="btnsubstract" class="calc__btn">-</button>
        </li>
        <li class="calc__itemop">
          <button id="btndivide" class="calc__btn">/</button>
        </li>
      </ul>
      <input id="secondnumber" class="calc__input" type="number" placeholder="Введіть число" />
      <button class="calc__btn">=</button>
      <h3 id="result" class="calc__text">Результат</h3>
    </div>
    <hr class="calc__line" />
  </div>
</section>