<section class="dino" data-category="game">
  <div class="dino__box container">
    <h2 class="dino__title">Google динозавр</h2>
    
    <div class="dino__game">
      <div class="dino__score-box">
        <span class="dino__best" id="dino__best">HI 00000</span>
        <span class="dino__score" id="dino__score">00000</span>
      </div>

      <div class="dino__game-over" id="dino__game-over">G A M E &nbsp; O V E R</div>

      <img alt="trex" src="/img/trex.png" class="dino__sprite" id="dino">
      <img alt="cactus" src="/img/cactus.png" class="dino__cactus" id="cactus">
    </div>

    <button class="dino__btn" type="button">Почати Гру</button>
    <hr class="dino__line">
  </div>
</section>
