<section class="footer">
    <a href="" class="footer__logo">
        <picture>
            <source media="(min-width:px)" srcset="">
            <source media="(min-width:px)" srcset="">
            <source media="(max-width:px)" srcset="">
            <img src="" alt="" class="" />
        </picture>
    </a>
    <ul class="footer__list">
        <li class="footer__item">
            <p class="footer__text">Тел: +38 (123) 456 78 90</p>
        </li>
        <li class="footer__item">
            <p class="footer__text">E-Mail: codingmagic@gmail.com</p>
        </li>
        <li class="footer__item">
            <p class="footer__text">Facebook: CodingMagic</p>
        </li>
        <li class="footer__item">
            <p class="footer__text">Twitter: CodingMagic</p>
        </li>
        <li class="footer__item">
            <p class="footer__text">Instagram: CodingMagic</p>
        </li>
    </ul>
    <div class="footer__formbox">
        <form class="footer__form">
            <input type="email" placeholder="Ваша ел. адреса..." class="footer__input">
            <button type="submit">Підписатись</button>
        </form>
        <p class="footer__description">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
    </div>
</section>