<header class="header">
    <div class="container header__box">
        <div class="header__infbox">
        <a href="../index.html" class="header__logo"><svg class="header__icon">
            <use href="./img/symbol-defs.svg#icon-logo"></use>
          </svg></a>
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item"><a href="" class="header__link">Інтерактив</a></li>
                <li class="header__item"><a href="" class="header__link">Наша команда</a></li>
                <li class="header__item"><a href="" class="header__link">Контакти</a></li>
            </ul>
        </nav>
        </div>

        <div class="header__namebox">
        <div class="header__chekbox">
            <div class="header__chek"><svg class="header__icon">
            <use href="./img/symbol-defs.svg#icon-sun"></use>
          </svg></div>
        </div>

        <p class="header__text">Вітаємо,<span class="header__user">User</span>!</p>
        </div>
    </div>
</header>
