<section class="maxnum">
    <h2 class="maxnum__title">Введіть 3 числа</h2>
    <ul class="maxnum__list">
        <li class="maxnum__item"><input id="number1" type="number" class="maxnum__input" placeholder="Введіть число"></li>
        <li class="maxnum__item"><input id="number2" type="number" class="maxnum__input" placeholder="Введіть число"></li>
        <li class="maxnum__item"><input id="number3" type="number" class="maxnum__input" placeholder="Введіть число"></li>
    </ul>
    <p class="maxnum__text">Найбільше число, яке ви ввели - <span class="maxnum__span"></span></p>
</section>