<div class="backdrop__modal">
  <div class="modal">
    <button type="button" class="modal__closer">
      <svg class="modal__close">
        <use href="./img/symbol-defs.svg#icon-x"></use>
      </svg>
    </button>
    <p class="modal__text">Привіт!<br>Ви потрапили на сайт інтерактивних ігор та завдань <br>Надіємось, що вам сподобається і ви отримаєте позитивні емоції!<br>Бажаємо Вам гарно провести час!</p>
    <form class="modal__form">
      <img src="./img/sword.webp" alt="a pixeleted sword" class="modal__icon" id="One">
      <img src="./img/puzzle.webp" alt="two puzzle pieces on top of each other" class="modal__icon" id="Two">
      <p class="modal__text">Введіть своє ім’я:</p>
      <input required type="text" name="yourName" placeholder="Ваше ім’я..." class="modal__input"/>
      <button type="submit" class="modal__btn">Зберегти</button>
      <img src="./img/game.webp" alt="game-developing" class="modal__icon" id="Three">
      <img src="./img/tic-tac-toe.webp" alt="a tic-tac-toe match" class="modal__icon" id="Four">
    </form>
  </div>
</div>