<div class="backdrop__modalf">
  <div class="modalf">
    <button type="button" class="modalf__closer">
      <svg class="modalf__close">
        <use href="./img/symbol-defs.svg#icon-x"></use>
      </svg>
    </button>
      <img src="./img/sword.webp" alt="a pixeleted sword" class="modalf__icon" id="One">
      <img src="./img/puzzle.webp" alt="two puzzle pieces on top of each other" class="modalf__icon" id="Two">
      <h2 class="modalf__title">Дякую за підписку!</h2>
      <img src="./img/game.webp" alt="game-developing" class="modalf__icon" id="Three">
      <img src="./img/tic-tac-toe.webp" alt="a tic-tac-toe match" class="modalf__icon" id="Four">
  </div>
</div>