<section class="number2">
  <div class="container">
    <h2 class="number2__title">Вгадай число, яке загадав комп’ютер</h2>
    <div class="number2__wrapper">
      <form class="number2__form">
        <input type="text" required name="number" class="number2__input" placeholder="Введіть число" />
        <button type="submit" class="number2__btn">
          <svg class="number2__icon">
            <use href="/img/symbol-defs.svg#icon-lent"></use>
          </svg>
        </button>
      </form>
      <p class="number2__text">Зможете вгадати номер від 1 до 10 (<span class="number2__span">number</span>) ?</p>
    </div>
    <hr class="number2__line">
  </div>
</section>