<section class="science10">
    <div class="container">
        <hr class="science10__line">
        <h2 class="science10__title">Обери вченого/их</h2>
        <ul class="science10__list"></ul>
        <div class="science10__box">
            <button class="science10__btn" data-action="19st" type="button">Які вчені народилися в 19 ст.</button>
            <button class="science10__btn" data-action="Einstein" type="button">Знайти рік народження Albert Einshtein</button>
            <button class="science10__btn" data-action="alphabet" type="button">Відсортувати вчених за алфавітом</button>
            <button class="science10__btn" data-action="cSurname" type="button">Знайти вчених, прізвища яких починаються на на літеру “С” </button>
            <button class="science10__btn" data-action="livedMost" type="button">Відсортувати вчених за кількістю прожитих років</button>
            <button class="science10__btn" data-action="namesWithoutA" type="button">Видалити всіх вчених, ім’я яких починається на “А”</button>
            <button class="science10__btn" data-action="scientistBornLast" type="button">Знайти вченого, який народився найпізніше</button>
            <button class="science10__btn" data-action="youngest&oldest" type="button">Знайти вченого, який прожив найдовше і вченого, який прожив найменше</button>
            <button class="science10__btn" data-action="fistLetterSame" type="button">1. Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
        </div>
    </div>
</section>