<section class="team">
  <div class="container">
    <hr class="team__line" />
    <h2 class="team__title">Наша команда</h2>

    <div class="team__box">
      <button
        class="team__btnone"
        type="button"
      >
        <svg
          width="52"
          height="101"
          viewBox="0 0 52 101"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M50.7071 0.353516L0.707095 50.3535L50.7071 100.354"
          />
        </svg>
      </button>

      <ul class="team__list">
        <li class="team__item">
          <img src="../img/vlad.jpg" alt="" class="team__img" />
          <h2 class="team__name">Владислав Буянов</h2>
          <p class="team__text">Тімлід</p>
        </li>
        <li class="team__item">
          <img src="../img/polina.jpg" alt="" class="team__img" />
          <h2 class="team__name">Поліна Миргородська</h2>
          <p class="team__text">Скраммайстер</p>
        </li>
        <li class="team__item">
          <img src="../img/sofia.jpg" alt="" class="team__img" />
          <h2 class="team__name">Софія Бондаренко</h2>
          <p class="team__text">Розробник сайту</p>
        </li>
      </ul>

      <button
        class="team__btntwo"
        type="button"
      >
        <svg
          width="52"
          height="101"
          viewBox="0 0 52 101"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.353546 0.353516L50.3535 50.3535L0.353546 100.354"
          />
        </svg>
      </button>
    </div>

    <div class="team__pagination"></div>
  </div>
</section>
