<section class="time5">
  <div class="container">
    <hr class="time5__line" />
    <h2 class="time5__title">Калькулятор часу</h2>
    <div class="time5__wrapper">
      <form class="time5__form">
        <input type="text" name="time" required placeholder="Введіть число" class="time5__input"/>
        <button class="time5__btn">
          <svg class="time5__icon">
            <use href="/img/symbol-defs.svg#icon-lent"></use>
          </svg>
        </button>
      </form>
      <img class="time5__img" src="./img/line-of-dots.webp" alt="line made out of dots"/>
      <p class="time5__text">Тут буде видно переведений час</p>
    </div>
    <hr class="time5__line" />
  </div>
</section>
